---
layout: default
title: Coding and Living.
---
{% include JB/setup %}

<div id="content">
  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <div class="content">
      {{ post.content  || split:'<!--break-->' | first }}
      <footer>
      	<a class="morebox" href="{{ post.url }}">Read More →</a>
     		<hr size="6px" color="#4285F4">
      </footer>
    </div>
  {% endfor %}

  <!-- Pagination links -->
  <div class="pagination">
    <div class="page-left">
    <span class="page-box">
          {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="page-text-left previous"> 上一页</a>
    {% else %}
      <span>已是第一页</span>
    {% endif %}
    </span>

    </div>

    <div class="page-right">
    <span class="page-box">
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next page-text-right">下一页</a>
      {% else %}
        <span>已到末尾</span>
      {% endif %}
      </span>
    </div>
  </div>

</div>

